body{
		box-sizing: border-box;
		font: 16px Arial;
        height:700px;
}
section {
    margin: 0 auto;
    max-width: 1024px;
    min-width:320px;
}
li {
    height: 3.1em;
    padding-top: 7px;
    padding-left: 2px;
    text-align: left;
}
li:hover {
    background-color: #808080;
    color:#FFFFFF;
    height: 3.1em;
}
.highlight{
    background-color: #808080;
    color:#FFFFFF;
    height: 3.1em;
}
.unHighlight{
    background-color: #FFFFFF;
    color:#000000;
    height: 3.1em;
}
#input-box {
    padding: 0 auto;
    display: block;
    width: 100%;
    margin-top: 40px;   
}
#enter-val{
    height: 3.1em;
    width: 95.8%;
    border-style: unset;
    padding-left: 0.4%;
    padding-right: 0%;
}
#list {
    margin: 0 auto; 
    margin-top: 1px;  
    max-height: 14.5em;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: cornflowerblue;
    overflow: auto;
    
}

.btn {
align-content: center;
width:3.16%;
height:3.1em;
border-style:unset;
background-color: cornflowerblue;
color:#FFFFFF; 
}
.btn:hover{
background-color: red;
color:#FFFFFF;  
}
.logo{
  text-align: center;
  margin-top:5em;
 
}