body{
		box-sizing: border-box;
		font: 16px Arial;
        height:700px;
}
section {
    margin: 0 auto;
    width: 1024px;
}
li {
    height: 40px;
    padding-top: 7px;
    padding-left: 2px;
    text-align: left;
}
li:hover {
    background-color: #808080;
    color:#FFFFFF;
    height: 40px;
}
#input-box {
    padding: 0 auto;
    display: block;
    width: 100%;
    margin-top: 40px;   
}
#enter-val{
    height: 40px;
    width: 96%;
}
#list {
    width: 95%;
    margin-top: 1px;  
    max-height: 200px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: cornflowerblue;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
align-content: center;
width:25px;
height:45px;

}
.logo{
 
  margin-top:5em;
  margin-left: 46%;
}